/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

:host {
  display: block;
  margin-bottom: 3rem;
}

.gallery img {
  aspect-ratio: 2 / 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Gallery Modal
--------------------------------------------- */

.gallery-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--primary-950), 0.95);
}

.gallery-modal .swiper {
  width: 100%;
  height: 100%;
}

.gallery-modal figure {
  height: 100%;
}

.gallery-modal picture {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-modal .swiper-slide img {
  max-width: calc(100% - 20px);
  max-height: calc(100% - 18rem);
  object-fit: contain;
}

.gallery-modal .swiper-slide figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-mono);
  font-size: var(--font-xs);
  color: rgb(var(--primary-400));
  background-color: rgba(var(--primary-950), 0.95);
}

::ng-deep .gallery-modal .swiper-slide figcaption > * {
  margin: 0;
  padding: 1.5rem 20px;
}

.gallery-modal .btn-close-gallery-modal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  font-size: var(--font-2xl);
  border: unset;
}

.gallery-modal .swiper-pagination {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  color: rgb(var(--primary-50));

  font-family: var(--font-mono);
  font-size: var(--font-sm);
  color: rgb(var(--primary-50));
}
