<div class="gallery" *ngIf="galleryMedia && galleryMedia.length">
  <ul class="gallery-items">
    <li class="gallery-item" *ngFor="let media of galleryMedia; let i = index" (click)="openModal(i)">
      <img [src]="media.size.thumbnail?.source" alt="Gallery item">
    </li>
  </ul>
</div>

<!-- <div class="modal" *ngIf="visible">
  <div class="wrapper">
  <swiper-container swiperDirective #swiper class="swiper" [config]="swiperConfig">
    <swiper-slide class="swiper-slide" *ngFor="let media of galleryMedia">
      <img [src]="media.size.thumbnail?.source" alt="Gallery image"/>
    </swiper-slide>
  </swiper-container>

  <button (click)="closeModal()">Close</button>
  <div class="navigation">
  <button (click)="slidePrev()" aria-label="Previous slide">Slide Prev</button>
  <button (click)="slideNext()" aria-label="Next slide">Slide Next</button>
</div>
</div>
</div> -->


<div class="modal" *ngIf="visible">
  <div class="wrapper">
    <div class="swiper" #swiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let media of galleryMedia">
          <img [src]="media.size.large?.source" alt="Gallery image" />
        </div>
      </div>
      <div class="swiper-navigation">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <!-- Optional pagination -->
      <div class="swiper-pagination"></div>

      <button (click)="closeModal()">Close</button>
    </div>
  </div>
</div>