<app-progress-bar [loading]="loading"></app-progress-bar>

<div class="container">
  <header class="header">
    <div class="wrapper">
      <h1 class="title">Editions</h1>
    </div>
  </header>

  <ul>
    <li *ngFor="let edition of editions">
      <a [routerLink]="['/edition', edition.slug]">
        <img *ngIf="edition.featuredMedia" [src]="edition.featuredMedia.size.thumbnail?.src" [alt]="edition.title" />
        <h2 class="title">{{ edition.title }}</h2>
        <div [innerHTML]="edition.content"></div>
      </a>
    </li>
  </ul>

  <app-list-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"> </app-list-pagination>
</div>
