@if (loading) {
  <app-loader />
} @else {
  @if (events.length > 0) {
    <ul class="list events">
      @for (event of events; track event.databaseId) {
        <li class="list-item event">
          <a [routerLink]="['/event', event.slug]">
            @if (event.featuredImage) {
              <img [src]="event.featuredImage.sourceUrl" [alt]="event.title" />
            }

            <h2 class="title" [innerHTML]="event.title"></h2>

            <div class="date">{{ event.eventDate | date: 'd MMM y' : '' : 'el-GR' }}</div>

            @if (event.categories.length > 0) {
              <div class="categories">
                @for (category of event.categories; track category.databaseId; let last = $last) {
                  {{ category.name }}
                  @if (!last) {
                    /
                  }
                }
              </div>
            }

            <!-- <div class="content inner-html" [innerHTML]="event.content"></div> -->
          </a>
        </li>
      }
    </ul>
  }
}
