<app-progress-bar [loading]="loading"></app-progress-bar>


<div class="container">
  <header class="header">
    <div class="wrapper">
      <h1 class="title">Events</h1>
    </div>
  </header>

  <ul>
    <li *ngFor="let event of events">
      <a [routerLink]="['/event', event.slug]">
        <img *ngIf="event.featuredMedia" [src]="event.featuredMedia.size.thumbnail?.src" [alt]="event.title" />
        <h2 class="title">{{ event.title }}</h2>
        <div [innerHTML]="event.excerpt"></div>
      </a>
    </li>
  </ul>



  <app-list-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)">
  </app-list-pagination>

</div>