<app-cover-image [coverImage]="coverImage"></app-cover-image>

<div class="container light" *ngIf="edition && coverImage">
  <article class="article">
    <header class="article-header">
      <h1 class="article-title" *ngIf="!coverImage">{{ edition.title }}</h1>

      <div class="article-excerpt" *ngIf="edition.excerpt" [innerHTML]="edition.excerpt"></div>

      <app-navigator-share [shareData]="shareData"></app-navigator-share>
    </header>

    <div class="article-content" *ngIf="edition.content" [innerHTML]="edition.content"></div>
  </article>

  <app-gallery *ngIf="edition.galleryMedia" [galleryMedia]="edition.galleryMedia"></app-gallery>

  <section class="related-articles related-events" *ngIf="events && events.length > 0">
    <h2 class="section-title">Σχετικές Δράσεις - Εκδηλώσεις</h2>
    <div class="articles-wrapper">
      <a class="grouped-link light" *ngFor="let article of events" [routerLink]="['/event', article.slug]">
        <article class="related-article">
          <div class="col">
            <app-article-featured-media class="related-article-featured-media" [media]="article.featuredMedia"></app-article-featured-media>
          </div>

          <div class="col">
            <header class="related-article-header">
              <h2 class="related-article-title">{{ article.title }}</h2>
              <time class="related-article-date" [dateTime]="article.date | isoDate">{{ article.date | date }}</time>
            </header>

            <div class="related-article-excerpt" [innerHTML]="article.excerpt"></div>
          </div>
        </article>
      </a>
    </div>
  </section>

  <section class="related-articles related-news" *ngIf="news && news.length > 0">
    <h2 class="section-title">Σχετικά άρθρα</h2>
    <div class="articles-wrapper">
      <a class="grouped-link light" *ngFor="let article of news" [routerLink]="['/news', article.slug]">
        <article class="related-article">
          <div class="col">
            <app-article-featured-media class="related-article-featured-media" [media]="article.featuredMedia"></app-article-featured-media>
          </div>

          <div class="col">
            <header class="related-article-header">
              <h2 class="related-article-title">{{ article.title }}</h2>
              <time class="related-article-date" [dateTime]="article.date | isoDate">{{ article.date | date }}</time>
            </header>

            <div class="related-article-excerpt">
              <div [innerHTML]="article.excerpt"></div>
            </div>
          </div>
        </article>
      </a>
    </div>
  </section>
</div>
