/*--------------------------------------------------------------
# Edition Detail
--------------------------------------------------------------*/

:host > .container {
  max-width: var(--max-w-lg);
  margin: 4.5rem auto;
  padding: 0 20px;
}

/* Article
--------------------------------------------- */

.article {
  margin: 0 0 3rem;
}

.article-header {
  margin-bottom: 3rem;
}

.article-title {
  font-family: var(--font-serif);
  font-weight: var(--font-bold);
  font-size: var(--font-3xl);
  line-height: var(--leading-tight);
  margin-bottom: 1.5rem;
}

.article-excerpt {
  font-family: var(--font-mono-secondary);
}

.article-content {
  max-width: var(--max-w-md);
  font-family: var(--font-serif);
}

/* Related Articles
--------------------------------------------- */

.related-articles {
  margin-bottom: 4.5rem;
}

.related-articles .section-title {
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: var(--leading-tight);
  padding-top: 0.75rem;
  border-top: 3px solid;
  margin-bottom: 3rem;
}

.articles-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.related-article {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 960px) {
  .related-article {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }
}

.related-article > .col:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 960px) {
  .related-article > .col:nth-child(2) {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }
}

.related-article-title {
  font-family: var(--font-serif);
  font-weight: var(--font-bold);
  font-size: var(--font-lg);
  line-height: var(--leading-tight);
}

.related-article-excerpt {
  font-family: var(--font-mono-secondary);
  font-size: var(--font-xs);
  color: rgb(var(--primary-400));
}

.related-article-date {
  font-family: var(--font-mono);
  font-size: var(--font-xs);
  color: rgb(var(--primary-400));
}
