:host > .container {
  max-width: var(--max-w-full);
}

.main-navigation {
  background-color: rgb(var(--primary-950));
  color: rgb(var(--primary-50));
  border-top: 1px solid rgb(var(--primary-900));
  border-bottom: 1px solid rgb(var(--primary-900));
}

.main-navigation > .wrapper {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 1rem 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Featured News
--------------------------------------------- */

.featured-news {
  background-color: rgb(var(--primary-950));
}

.featured-news > .wrapper {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 1.5rem 20px 4.5rem;
}

@media (min-width: 1280px) {
  .featured-news > .wrapper {
    padding: 4.5rem 20px;
  }
}

.featured-news .section-title {
  font-size: var(--font-3xl);
  font-weight: var(--font-bold);
  line-height: var(--leading-tight);
  margin-bottom: 1.5rem;
}

@media (max-width: 1279px) {
  .featured-news .section-title {
    padding-top: 1.25rem;
    border-top: 1px solid rgb(var(--primary-900));
  }
}

.featured-news .articles-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.featured-news .article {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 960px) {
  .featured-news .article {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

    grid-template-areas: "col1 col2";
  }

  .featured-news .articles-wrapper .grouped-link:nth-child(2) .article .col:nth-child(2) {
    grid-area: col1;
  }
}

.featured-news .article > .col:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.featured-news .article-title {
  font-family: var(--font-serif);
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
  line-height: var(--leading-snug);
}

.featured-news .article-excerpt {
  font-family: var(--font-mono);
  font-size: var(--font-xs);
  color: rgb(var(--primary-300));
}

.featured-news .article-date {
  font-family: var(--font-mono);
  font-size: var(--font-xs);
  color: rgb(var(--primary-300));
}

/* Category News
--------------------------------------------- */

.category-news-wrapper .category-news:nth-of-type(1) {
  padding-top: 4.5rem;
}

.category-news > .wrapper {
  max-width: var(--max-w-xl);
  margin: 0 auto;
  padding: 0 20px 4.5rem;
}

.category-news .section-title {
  font-size: var(--font-3xl);
  font-weight: var(--font-bold);
  line-height: var(--leading-tight);
  margin-bottom: 1.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid;
}

.category-news .articles-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.category-news .articles-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 960px) {
  .category-news .articles-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.category-news .first-article .article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.category-news .first-article .article-title {
  font-family: var(--font-serif);
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
  line-height: var(--leading-snug);
}

.category-news .first-article .article-excerpt {
  font-family: var(--font-serif);
  font-size: var(--font-xs);
  color: rgb(var(--primary-500));
}

.category-news .remaining-articles {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.category-news .remaining-articles .article {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  gap: 1.5rem;
}

.category-news .remaining-articles .article-title {
  font-family: var(--font-serif);
  font-weight: var(--font-bold);
  font-size: var(--font-base);
  line-height: var(--leading-snug);
}

.category-news .article-date {
  font-family: var(--font-mono);
  font-size: var(--font-xs);
  color: rgb(var(--primary-500));
}