:host {
  display: block;
}

button {
  font-size: var(--font-sm);
  font-weight: var(--font-normal);
}

.alert {
  margin-top: 0.5rem;
  font-size: var(--font-xs);
  color: rgb(var(--color-accent-500));
}
