:host {
  background-color: #666;
}

:host > .container {
  max-width: var(--max-w-xxl);
  margin: 0 auto;
  padding: 3rem 20px;
}

.header {
  margin-bottom: 3rem;
}

.header .title {
  font-family: var(--font-sans-condensed);
  font-weight: var(--font-bold);
  font-size: var(--font-4xl);
}
