<app-progress-bar [loading]="loading"></app-progress-bar>

<ng-container *ngIf="news">
  <div *ngIf="news.featuredMedia">
    <img class="featured-media" [src]="news.featuredMedia.size.xxLarge?.src" alt="" />
  </div>

  <div class="container">
    <div class="col">
      <div class="sidebar">
        

        <a class="site-title" routerLink="/">
          <h1 class="title">Struggle for Skouries</h1>
        </a>

        <!-- Add sidebar content after the title -->
      </div>
    </div>

    <div class="col">
      <header class="header">
        <div class="wrapper">
          <h1 class="title">{{ news.title | removeGreekAccents }}</h1>

          <div *ngIf="news.excerpt" class="excerpt" [innerHTML]="news.excerpt"></div>

          

          <div class="categories" *ngIf="news.categories && news.categories.length > 0">
            <ng-container *ngFor="let category of news.categories; let last = last">
              <a [routerLink]="['/news/category', category.slug]">{{ category.name }}</a>
              <!-- <ng-container *ngIf="!last"> / </ng-container> -->
            </ng-container>
          </div>

          <time class="date" [dateTime]="news.date | isoDate">{{ news.date | dateTime }}</time>

          <app-navigator-share [shareData]="shareData"></app-navigator-share>


          

          

        </div>
      </header>

      <div class="content" *ngIf="news.content" [innerHTML]="news.content"></div>

      <ng-container *ngIf="news.galleryMedia">
        <ul>
          <li *ngFor="let media of news.galleryMedia">
            <img [src]="media.size.thumbnail?.src" />
          </li>
        </ul>
      </ng-container>

      <div *ngIf="events && events.length">
        <h2>Related Event</h2>
        <ul>
          <li *ngFor="let event of events">
            <a [routerLink]="['/event', event.slug]">
              <!-- <div>{{ event.date | date : "dd.MM.yy" }}</div> -->
              <h2 class="title">{{ event.title }}</h2>
              <div [innerHTML]="event.excerpt"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    </div>

    
</ng-container>
