<div class="container" *ngIf="news">
  <article class="article">
    <header class="article-header">
      <h1 class="article-title">{{ news.title }}</h1>

      <div *ngIf="news.excerpt" class="article-excerpt" [innerHTML]="news.excerpt"></div>

      <div class="article-categories" *ngIf="news.categories && news.categories.length > 0">
        <ng-container *ngFor="let category of news.categories; let last = last">
          <a class="accent" [routerLink]="['/news/category', category.slug]">{{ category.name }}</a>
          <ng-container *ngIf="!last"><span class="divider"> / </span></ng-container>
        </ng-container>
      </div>

      <time class="article-date" [dateTime]="news.date | isoDate">{{ news.date | dateTime }}</time>

      <app-navigator-share [shareData]="shareData"></app-navigator-share>
    </header>

    <app-article-featured-media class="article-featured-media" [media]="news.featuredMedia" [showCaption]="true"></app-article-featured-media>

    <div class="article-content" *ngIf="news.content" [innerHTML]="news.content"></div>
  </article>

  <app-gallery *ngIf="news.galleryMedia" [galleryMedia]="news.galleryMedia"></app-gallery>

  <section class="related-articles" *ngIf="news.relatedNews && news.relatedNews.length > 0">
    <h2 class="section-title">Σχετικά άρθρα</h2>
    <div class="articles-wrapper">
      <a class="grouped-link" *ngFor="let article of news.relatedNews" [routerLink]="['/news', article.slug]">
        <article class="related-article">
          <div class="col">
            <app-article-featured-media class="related-article-featured-media" [media]="article.featuredMedia"></app-article-featured-media>
          </div>

          <div class="col">
            <header class="related-article-header">
              <h2 class="related-article-title">{{ article.title }}</h2>
              <time class="related-article-date" [dateTime]="article.date | isoDate">{{ article.date | date }}</time>
            </header>

            <div class="related-article-excerpt">
              <div [innerHTML]="article.excerpt"></div>
            </div>
          </div>
        </article>
      </a>
    </div>
  </section>
</div>
