<nav class="pagination" aria-label="Pagination">
  <div class="wrapper">
    <div class="page-counter">Σελίδα {{ currentPage }} από {{ totalPages }}</div>

    <div class="controls">
      <button class="transparent" (click)="paginate(currentPage - 1)" type="button" [disabled]="currentPage <= 1">
        <span class="symbol">arrow_back</span>
      </button>
      <button class="transparent" (click)="paginate(currentPage + 1)" type="button" [disabled]="currentPage >= totalPages">
        <span class="symbol">arrow_forward</span>
      </button>
    </div>
  </div>
</nav>
