/*--------------------------------------------------------------
# App Header
--------------------------------------------------------------*/

/* :host {
  border-right: 1px solid rgb(var(--primary-950));
} */

.site-header {
  background-color: rgb(var(--primary-950));

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

@media (min-width: 1140px) {
  .site-header {
    max-width: 420px;
  }
}

@media (min-width: 1320px) {
  .site-header {
    max-width: 480px;
  }
}

@media (min-width: 1780px) {
  .site-header {
    max-width: 600px;
  }
}

@media (min-width: 2048px) {
  .site-header {
    max-width: 720px;
  }
}

/* Wrapper
--------------------------------------------- */



.site-header > .wrapper {
  padding: 0 20px;
  height: 4.5rem;
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Toggle Button
--------------------------------------------- */

.toggle-sidebar-btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  font-size: var(--font-3xl);
}

/* Site Title
--------------------------------------------- */

.site-title {
  font-family: var(--font-serif);
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
}

/* Sidebar
--------------------------------------------- */

.sidebar {
  /* position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0; */
  width: 100%;
  height:  calc(100% - 4.5rem);
  /* max-width: 375px; */
  background-color: rgb(var(--yellow-500));
}

.sidebar > .wrapper {
  padding: 1.5rem 20px 1.5rem 4.75rem;
  position: sticky;
  top: 4.5rem;
}

.sidebar ul.primary-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: var(--font-sans);
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
  line-height: var(--leading-snug);
}
