.site-header {
  background-color: #333;

  position: sticky;
  top: 0;
  z-index: 3;
}

.site-header > .container {
  max-width: var(--max-w-full);
  margin: 0 auto;
  padding: 1rem 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header .site-title {
  font-family: var(--font-sans-condensed);
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
}

.site-header .menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* h1 {
  font-size: var(--font-7xl);
} */
