/* .site-header {
  background-color: rgb(var(--color-secondary-500));
  color: rgb(var(--color-primary-950));

  position: sticky;
  top: 0;
  z-index: 3;
}

.site-header a {
  color: rgb(var(--color-primary-950));
}

.site-header > .container {
  max-width: var(--max-w-full);
  margin: 0 auto;
  padding: 1rem 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header .site-brand {
display: flex;
align-items: center;
gap: 0.75rem;
}

.site-header .site-brand > .title {
  font-family: var(--font-serif);
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
}

.site-header .site-brand > .trademark {
  display: block;
  height: 2.5rem;
  fill: rgb(var(--color-accent-500));
}

.site-header .menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  font-family: var(--font-sans-condensed);
  font-weight: var(--font-bold);

  text-transform: uppercase;
} */

/* h1 {
  font-size: var(--font-7xl);
} */

:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 20000000;
}

.toggle-sidebar-btn {
  
  position: absolute;
  top: 0;
  /* margin: 20px; */
  z-index: 10000000;
  padding: 0 20px;

  background-color: rgb(var(--color-primary-950));
  color: rgb(var(--color-primary-50));

  border-color: rgb(var(--color-primary-950));

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;

  cursor: pointer;
}


.icon {
  font-size: var(--font-3xl);
}


.sidebar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 320px;
  background-color: rgb(var(--color-primary-500));
}

.sidebar>.wrapper {
  padding: 20px;
}