.primary-menu.header-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: var(--font-serif);
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
  line-height: var(--leading-snug);
}

.primary-menu.header-sidebar a {
  color: rgb(var(--primary-50));
}

.primary-menu.page-home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  font-family: var(--font-sans);
  font-weight: var(--font-bold);
  line-height: var(--leading-snug);
}

.primary-menu.page-home a {
  color: rgb(var(--primary-50));
}