<ul [ngClass]="parent" class="primary-menu">
  <li><a (click)="navigate(['/news'])">Αντιπληροφόρηση</a></li>
  <li><a (click)="navigate(['/news/category/analysis/page/1'])">Ανάλυση</a></li>
  <li><a (click)="navigate(['/news/category/observatory/page/1'])">Παρατηρητήριο</a></li>
  <li><a (click)="navigate(['/events'])">Δράσεις - Εκδηλώσεις</a></li>
  <li><a (click)="navigate(['/edition/dekaimero-agona-2024'])">Δεκαήμερο Αγώνα 2024</a></li>
  <!-- <li><a (click)="navigate(['/info'])">Πληροφορίες</a></li> -->
</ul>