.cover-media {
  position: relative;
}

.cover-media img {
  object-fit: cover;
  width: 100%;
  height: 50vh;
}

.cover-media figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(var(--primary-950), 1),
    rgba(var(--primary-950), 0.22),
    rgba(var(--primary-950), 0.38),
    rgba(var(--primary-950), 0.49),
    rgba(var(--primary-950), 0.67),
    rgba(var(--primary-950), 0.77),
    rgba(var(--primary-950), 0.85),
    rgba(var(--primary-950), 0.97),
    rgba(var(--primary-950), 1)
  );
  height: 100%;
}

.cover-media figcaption > .wrapper {
  max-width: var(--max-w-xl);
  padding: 3rem 20px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: start;
}

.cover-title {
  font-family: var(--font-serif);
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: var(--leading-tight);
}