.cover-media {
  position: relative;
}

.cover-media img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 50vh;
}

.cover-media figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg,#0000,#0000000d 22%,#0000002b 38%,#0000004f 49%,#000000a6 67%,#000000cf 77%,#000000e8 85%,#000000f7 97%,#000);
  height: 100%;
}

.cover-media figcaption > .wrapper {
  max-width: var(--max-w-xl);
  padding: 1.5rem 20px;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: start;
}

@media (min-width: 1140px) {
  .cover-media figcaption > .wrapper {
    margin-left: 420px;
  }
}

@media (min-width: 1320px) {
  .cover-media figcaption > .wrapper {
    margin-left: 480px;
  }
}

@media (min-width: 1780px) {
  .cover-media figcaption > .wrapper {
    margin-left: 600px;
  }
}

@media (min-width: 2048px) {
  .cover-media figcaption > .wrapper {
    margin-left: 720px;
  }
}



.cover-title {
  font-weight: var(--font-black);
  font-size: var(--font-4xl);
  line-height: var(--leading-none);
}