<figure class="cover-media" *ngIf="coverImage && coverImage.media">
  <picture>
    <source [attr.data-srcset]="coverImage.media.size.mediumLarge?.src" media="(max-width: 539px)" />
    <source [attr.data-srcset]="coverImage.media.size.large?.src" media="(min-width: 540px) and (max-width: 719px)" />
    <source [attr.data-srcset]="coverImage.media.size.xLarge?.src" media="(min-width: 720px)" />
    <img appLazyLoad [attr.data-src]="coverImage.media.size.xLarge?.src" [alt]="coverImage.media.altText" />
  </picture>

  @if (coverImage.showTitle && coverImage.title) {
    <ng-template #coverTitle>
      <h2 class="cover-title">{{ coverImage.title }}</h2>
    </ng-template>

    @if (coverImage.linkPostType && coverImage.linkSlug) {
      @if (coverImage.linkPostType === "edition") {
      <figcaption>
        <div class="wrapper">
          <a class="light" [routerLink]="['/edition', coverImage.linkSlug]"><ng-container *ngTemplateOutlet="coverTitle"></ng-container></a>
        </div>
      </figcaption>
      } @else if (coverImage.linkPostType === "event") {
      <figcaption>
        <div class="wrapper">
          <a class="light" [routerLink]="['/event', coverImage.linkSlug]"><ng-container *ngTemplateOutlet="coverTitle"></ng-container></a>
        </div>
      </figcaption>
      } @else if (coverImage.linkPostType === "news") {
      <figcaption>
        <div class="wrapper">
          <a class="light" [routerLink]="['/news', coverImage.linkSlug]"><ng-container *ngTemplateOutlet="coverTitle"></ng-container></a>
        </div>
      </figcaption>
      } @else if (coverImage.linkPostType === "page") {
      <figcaption>
        <div class="wrapper">
          <a class="light" [routerLink]="['/page', coverImage.linkSlug]"><ng-container *ngTemplateOutlet="coverTitle"></ng-container></a>
        </div>
      </figcaption>
      }
    } @else {
      <figcaption>
        <div class="wrapper">
          <h2 class="cover-title light">{{ coverImage.title }}</h2>
        </div>
      </figcaption>
    }
  }
</figure>