<app-progress-bar [loading]="loading"></app-progress-bar>


<ng-container *ngIf="event">
  <div class="container">
    <header class="header">
      <div class="wrapper">
        <h1 class="title">{{ event.title }}</h1>
      </div>
    </header>

    <div class="content" *ngIf="event.content" [innerHTML]="event.content"></div>

    <div *ngIf="event.featuredMedia">
      <img [src]="event.featuredMedia.size.thumbnail?.src" alt="" />
    </div>

    <ng-container *ngIf="event.galleryMedia">
      <ul>
        <li *ngFor="let media of event.galleryMedia">
          <img [src]="media.size.thumbnail?.src" />
        </li>
      </ul>
    </ng-container>

    <div *ngIf="news && news.length">
      <h3>Related News</h3>
      <ul>
        <li *ngFor="let newsItem of news">
          <a [routerLink]="['/news', newsItem.slug]">
            <!-- <div>{{ newsItem.date | date:'dd.MM.yy' }}</div> -->
            <h2 class="title">{{ newsItem.title }}</h2>
            <div [innerHTML]="newsItem.excerpt"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</ng-container>