/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Box sizing
--------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* App
--------------------------------------------- */

app-root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto minmax(0, 1fr) auto;
}

/* Typography
--------------------------------------------- */

html {
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (min-width: 960px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: var(--font-sans);
  font-size: var(--font-base);
  font-weight: var(--font-normal);
  line-height: var(--leading-base);
  color: rgb(var(--primary-950));
  font-feature-settings: "pnum" 1, "kern" 1, "ss01" 1, "ss03" 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-base);
  font-weight: var(--font-normal);
  line-height: var(--leading-base);
  margin: 0;
}

h1 {
  line-height: var(--leading-tight);
}

h2 {
  line-height: var(--leading-snug);
}

p {
  margin: 0 0 1.5rem;
}

/* Elements
--------------------------------------------- */

body {
  background-color: rgb(var(--primary-0));
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  display: block;
  margin: 0;
}

picture {
  display: block;
}

/* Links
--------------------------------------------- */
a {
  cursor: pointer;
  display: inline-block;
  color: rgb(var(--primary-950));
  text-decoration: none;
  outline: 0;
}

/* a light */
.light,
a.light {
  color: rgb(var(--primary-50));
}

/* a accent */

a.accent {
  color: rgb(var(--red-500));
}

.underline {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
}

/* Buttons
--------------------------------------------- */
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: rgb(var(--red-500));
  border: 1px solid rgb(var(--red-500));
  color: rgb(var(--primary-50));
  line-height: var(--leading-none);
  font-weight: var(--font-bold);
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button:disabled {
  background: rgb(var(--primary-950));
  opacity: 0.1;
  cursor: unset;
  pointer-events: none;
}

button.transparent {
  background: transparent;
  color: rgb(var(--primary-950));
  border-color: currentColor;
}

button.transparent.accent {
  background: transparent;
  color: rgb(var(--red-500));
  border-color: currentColor;
}

button.transparent.light {
  background: transparent;
  color: rgb(var(--primary-50));
  border-color: currentColor;
}

/* Forms
--------------------------------------------- */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/* Remove */

body.gallery-modal-active {
  overflow: hidden;
}





img[appLazyLoad] {
  filter: blur(8px);
  transition: filter 0.6s ease-out;
}

img[appLazyLoad][src] {
  filter:none;
  
}

img[appLazyLoad].loaded {
  /* filter: none; */
  transition: unset;
}

/* img[appLazyLoad][src].loaded {
  transition: unset;
  filter: unset;
} */

.cover-image app-header {
  background-color: rgb(var(--primary-950));
}

.cover-image app-header a {
  color: rgb(var(--primary-50));
}

.cover-image app-header .toggle-sidebar-btn {
  color: rgb(var(--primary-50));
}