/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

/* Root
--------------------------------------------- */

:root {
  --font-sans: "Plex Sans", sans-serif;
  --font-sans-condensed: "GT-America Condensed", sans-serif;
  --font-serif: "Publico Text", serif;
  --font-mono: "Plex Mono", monospace;
  --font-mono-secondary: "Publico Mono", monospace;
  --font-symbol: "Material Symbols Outlined";
  --font-icon: "Material Icons Outlined";

  --font-terminal: "Terminal Grotesque", monospace;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;
  --font-5xl: 3rem;
  --font-6xl: 3.75rem;
  --font-7xl: 4.5rem;

  --font-regular: 400;
  --font-text: 450;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  --font-normal: normal;
  --font-italic: italic;

  --leading-none: 1;
  --leading-tight: 1.15;
  --leading-snug: 1.375;
  --leading-base: 1.5;

  --max-w-base: 2560px;
  --max-w-sm: 540px;
  --max-w-md: 720px;
  --max-w-lg: 960px;
  --max-w-xl: 1140px;
  --max-w-xxl: 1320px;
  --max-w-full: 100%;

  --gray-50: 246, 246, 246;
  --gray-100: 231, 231, 231;
  --gray-200: 209, 209, 209;
  --gray-300: 176, 176, 176;
  --gray-400: 136, 136, 136;
  --gray-500: 109, 109, 109;
  --gray-600: 93, 93, 93;
  --gray-700: 79, 79, 79;
  --gray-800: 69, 69, 69;
  --gray-900: 61, 61, 61;
  --gray-950: 17, 17, 17;

  --blue-50: 244, 246, 251;
  --blue-100: 232, 236, 246;
  --blue-200: 204, 216, 235;
  --blue-300: 158, 184, 219;
  --blue-400: 106, 147, 198;
  --blue-500: 71, 116, 176;
  --blue-600: 55, 94, 151;
  --blue-700: 44, 74, 120;
  --blue-800: 40, 64, 100;
  --blue-900: 38, 55, 84;
  --blue-950: 25, 36, 56;

  --red-50: 255, 242, 237;
  --red-100: 255, 226, 213;
  --red-200: 254, 193, 170;
  --red-300: 253, 150, 116;
  --red-400: 251, 101, 66;
  --red-500: 249, 56, 22;
  --red-600: 234, 30, 12;
  --red-700: 194, 17, 12;
  --red-800: 154, 18, 20;
  --red-900: 124, 18, 19;
  --red-950: 67, 7, 10;

  --yellow-50: 255, 254, 234;
  --yellow-100: 255, 250, 197;
  --yellow-200: 255, 246, 133;
  --yellow-300: 255, 234, 70;
  --yellow-400: 255, 219, 27;
  --yellow-500: 255, 187, 0;
  --yellow-600: 226, 144, 0;
  --yellow-700: 187, 101, 2;
  --yellow-800: 152, 78, 8;
  --yellow-900: 124, 64, 11;
  --yellow-950: 72, 33, 0;

  --primary-0: 255, 255, 255;
  --primary-50: var(--gray-50);
  --primary-100: var(--gray-100);
  --primary-200: var(--gray-200);
  --primary-300: var(--gray-300);
  --primary-400: var(--gray-400);
  --primary-500: var(--gray-500);
  --primary-600: var(--gray-600);
  --primary-700: var(--gray-700);
  --primary-800: var(--gray-800);
  --primary-900: var(--gray-900);
  --primary-950: var(--gray-950);
}

@media (max-width: 720px) {
  :root {
    --font-3xl: var(--font-2xl);
  }
}

body.dark {
  --color-primary-50: var(--cod-gray-950);
  --color-primary-100: var(--cod-gray-900);
  --color-primary-200: var(--cod-gray-800);
  --color-primary-300: var(--cod-gray-700);
  --color-primary-400: var(--cod-gray-600);
  --color-primary-500: var(--cod-gray-500);
  --color-primary-600: var(--cod-gray-400);
  --color-primary-700: var(--cod-gray-300);
  --color-primary-800: var(--cod-gray-200);
  --color-primary-900: var(--cod-gray-100);
  --color-primary-950: var(--cod-gray-50);
}
